/* Archive.css */
.archive-container {
    margin-left: 25px;
}

.archive-notes {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.archive-notes p {
    color: #888;
}

.archive-header {
    margin-bottom: 20px;
    font-size: 24px;
    color: #636363;
    font-weight: bold;
}

.buttons button {
    margin-left: 7px;
}
